{% extends "base.html" %}
{% load static %}

{% block header %}
        <div class="image-container">
            <div class="row">
                <img src="{% static 'media/site-images/puppy-outfit-logo.png' %}"
                    alt="Image of a French Bulldog wearing a sweater and ascot" class="img-fluid home-image">
            </div>
        </div>
{% endblock %}

{% block content %}
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <h1 class="text-center mt-4">Welcome to The Wagging Tailor</h1>
                <a href="{% url 'products' %}" class="btn btn-lg btn-custom">View Our Store</a>
            </div>
        </div>
    </div>

    <hr class="mt-3 mb-5 m-auto" width="80%">

<!-- Into Section -->
    <div class="container text-center mb-5">
        <h2 class="mb-4">Meet our Team</h2>
        <div class="row">
            <div class="col-sm-12 col-md-4 mb-3">
                <div class="card border-0 h-100 bg-card">
                    <img src="{% static 'media/site-images/rolo.png' %}" class="card-img-top rounded-circle intro-img"
                        alt="Image of Rolo">
                    <div class="card-body" py-1>
                        <h5 class="card-title">Rolo</h5>
                        <p class="card-text text-left">The original inspiration for our business, this stylish pup has been
                            known to
                            rock a mean biker jacket in his downtime. Rolo enjoys long walks on the beach and chilling in
                            the sun.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 mb-3">
                <div class="card border-0 h-100 bg-card">
                    <img src="{% static 'media/site-images/zoe.png' %}" class="card-img-top rounded-circle intro-img"
                        alt="Image of Zoe">
                    <div class="card-body">
                        <h5 class="card-title">Zoe</h5>
                        <p class="card-text text-left">This little girl loves to romp about in one of our stylish dresses.
                            She loves the feel
                            of the wind in her fur while being chauffuered to her next adventure.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 mb-3">
                <div class="card border-0 h-100 bg-card">
                    <img src="{% static 'media/site-images/becky.png' %}" class="card-img-top rounded-circle intro-img"
                        alt="Image of Becky">
                    <div class="card-body">
                        <h5 class="card-title">Becky</h5>
                        <p class="card-text text-left">The founder of The Wagging Tailor, she is known for her
                            out-of-this-world designs and cheesy T-shirts. She loves to try her hand at new skills and
                            pamper her pups with treats and toys
                            galore!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Carousel -->
    <div class="container carousel-container mb-5">
        <div class="row">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-target="#carouselExampleIndicators" data-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-target="#carouselExampleIndicators" data-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-target="#carouselExampleIndicators" data-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="">
                            <img src="{% static 'media/site-images/shirt2.png' %}" class="d-block w-100" max-height="400px"
                                alt="">
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a href="">
                            <img src="{% static 'media/site-images/pom-dress.jpg' %}" class="d-block w-100"
                                alt="Pomeranien wearing a dress, sat on a seat">
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a href="">
                            <img src="{% static 'media/site-images/sponge-cat.jpg' %}" class="d-block w-100"
                                alt="French bulldog wearing hoody next to a dumpster">
                        </a>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-target="#carouselExampleIndicators"
                    data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-target="#carouselExampleIndicators"
                    data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </button>
            </div>
        </div>
    </div>
    <!-- Product Cards -->
    <div class="container mb-3">
        <div class="row">
            <div class="col-sm-12 col-md-6 mb-3">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Warm Wear</h5>
                        <p class="card-text">All pups love to go for walkies, even in the snow! These snuggly sweaters and stylish jackets will help you pup stay warm <em>and</em> look cool!</p>
                    </div>
                    <div class="card-footer border-0">
                        <a href="#" class="btn btn-primary">See Warm Wear</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 mb-3">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Accessories</h5>
                        <p class="card-text">You know an outfit is not complete without Accessories! Check out the latest collars, hats and trinkets for your pets!</p>
                    </div>
                    <div class="card-footer border-0">
                        <a href="#" class="btn btn-primary">See Accessories</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="btt-button bg-white p-1 rounded-circle">
        <a class="btt-link d-flex h-100">
            <i class="fa-2x fas fa-arrow-circle-up text-navy mx-auto my-auto"></i>
        </a>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}   
    <script type="text/javascript">
        $('.btt-link').click(function(e) {
            window.scrollTo(0,0)
        })
    </script>
{% endblock %}
