{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block extra_title %}
- Thank You!
{% endblock %}

{% block content %}
<div class="container mb-4">
    <div class="row">
        <div class="col text-center">
            <h1 class="mt-5 mb-5 text-navy">Thank You For Your Order!</h1>
            <p class="mb-5 text-navy">
                Please see below for your order information. Please take note of your order number in case you need to
                change or cancel your order in the future.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-8 mb-5 offset-lg-2">
            <div class="order-confirmation-wrapper p-2 border">
                <!-- Order Info: -->
                <!-- Heading -->
                <div class="row">
                    <div class="col">
                        <small class="text-muted">Order Info:</small>
                    </div>
                </div>

                <!-- Details -->
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-navy font-weight-bold">Order Number: </p>
                    </div>
                    <div class="col-12 col-md-8 text-right">
                        <p>{{ order.order_number }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-navy font-weight-bold">Order Date:</p>
                    </div>
                    <div class="col-12 col-md-8 text-right">
                        <p class="mb-0">{{ order.date }}</p>
                    </div>
                </div>


                <!-- Order Items -->
                <!-- Heading -->
                <div class="row">
                    <div class="col">
                        <small class="text-muted">Order Items:</small>
                    </div>
                </div>

                <!-- Details -->
                {% for item in order.lineitems.all %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="small mb-0 text-navy font-weight-bold">
                            {{ item.product.name }}{% if item.product_size %} - Size
                            {{ item.product_size|upper }}{% endif %}</p>
                    </div>
                    <div class="col-12 col-md-8 text-right">
                        <p class="mb-0">{{ item.quantity }} @ €{{ item.product.price }} each</p>
                    </div>
                </div>
                {% endfor %}


                <!-- Shipping Info -->
                <!-- Heading -->
                <div class="row">
                    <div class="col">
                        <small class="text-muted">Shipping Info</small>
                    </div>
                </div>

                <!-- Details -->
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-navy font-weight-bold">Full Name</p>
                    </div>
                    <div class="col-12 col-md-8 text-right">
                        <p class="mb-0">{{ order.full_name }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-navy font-weight-bold">Email</p>
                    </div>
                    <div class="col-12 col-md-8 text-right">
                        <p class="mb-0">{{ order.email }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-navy font-weight-bold">Street Address 1</p>
                    </div>
                    <div class="col-12 col-md-8 text-right">
                        <p class="mb-0">{{ order.street_address1 }}</p>
                    </div>
                </div>

                {% if order.street_address2 %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-navy font-weight-bold">Street Address 2</p>
                    </div>
                    <div class="col-12 col-md-8 text-right">
                        <p class="mb-0">{{ order.street_address2 }}</p>
                    </div>
                </div>
                {% endif %}

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-navy font-weight-bold">Town or City</p>
                    </div>
                    <div class="col-12 col-md-8 text-right">
                        <p class="mb-0">{{ order.town_or_city }}</p>
                    </div>
                </div>

                {% if order.county %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-navy font-weight-bold">County</p>
                    </div>
                    <div class="col-12 col-md-8 text-right">
                        <p class="mb-0">{{ order.county }}</p>
                    </div>
                </div>
                {% endif %}

                {% if order.postcode %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-navy font-weight-bold">Postcode</p>
                    </div>
                    <div class="col-12 col-md-8 text-right">
                        <p class="mb-0">{{ order.postcode }}</p>
                    </div>
                </div>
                {% endif %}

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-navy font-weight-bold">Country</p>
                    </div>
                    <div class="col-12 col-md-8 text-right">
                        <p class="mb-0">{{ order.country }}</p>
                    </div>
                </div>


                <!-- Billing Info -->
                <!-- Heading -->
                <div class="row">
                    <div class="col">
                        <small class="text-muted">Billing Info:</small>
                    </div>
                </div>

                <!-- Details -->
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-navy font-weight-bold">Order Total</p>
                    </div>
                    <div class="col-12 col-md-8 text-right">
                        <p class="mb-0">{{ order.order_total }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-navy font-weight-bold">Shipping Cost</p>
                    </div>
                    <div class="col-12 col-md-8 text-right">
                        <p class="mb-0">{{ order.shipping_cost }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-navy font-weight-bold">Grand Total</p>
                    </div>
                    <div class="col-12 col-md-8 text-right">
                        <p class="mb-0">{{ order.grand_total }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-8 offset-2 text-center">
            {% if from_profile %}
            <a href="{% url 'profile' %}" class="btn btn-custom rounded-0 my-2">
                <span class="icon">
                    <i class="fas fa-user"></i>
                </span>
                <span class="text-uppercase">Go Back To Profile</span>
            </a>
            {% else %}
            <a href="{% url 'products' %}?category=dresses,shirts" class="btn btn-custom rounded-0 my-2">
                <span class="icon">
                    <i class="fas fa-paw"></i>
                </span>
                <span class="text-uppercase">Check out our Formal Wear!</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
