.image-container {
    position: relative;
}

.bg-custom {
    background-color: #F4A30E;
}

.bg-custom-nav {
    background-color: #04212E;
}

.text-navy {
    color: #04212E;
}

.link-colour {
    color: #04212E;
}

body {
    font-family: 'Libre Baskerville', serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

.carousel-item {
    max-height: 525px;
    overflow: cover;
}

.carousel-container img {
    width: auto;
    height: auto;
}

footer, footer a {
    background-color: #04212E;
    color: #F4A30E !important;
}
