body {
    background: url("/static/media/site-images/paw-background.png") no-repeat center center fixed;
    background-size: cover;
    color: #555;
}

body {
    font-family: 'Libre Baskerville', serif;
}

p, .open-sans-text {
    font-family: 'Open Sans', sans-serif !important;
}

.text-bold {
    font-weight: bold !important;
}

.banner-text {
    font-family: 'Open Sans', sans-serif;
}

div.image-container {
    max-width: 100vw;
    overflow-x: hidden;
}

.image-container {
    position: relative;
}

.product-img {
    width: 100%;
    height: 20vw;
    object-fit: cover;
    min-height: 200px;
    
}

img .intro-img {
    height: 20vw;
    object-fit: cover;
}

.rounded-custom {
    border-radius: 50% !important;
    width: 200px !important;
    max-width: 200px !important;
    height: 200px !important;
    max-height: 200px !important;
    object-fit: cover;
    }

.nav-link i.nav-icon {
    font-size: 2rem !important;
}

.img_border {
    border: 5px solid #04212E !important;
}

.bg-custom {
    background-color: #F4A30E;
}

.bg-custom-nav,
.bg-custom-toast {
    background-color: #04212E;
}

.bg-card {
    background-color: #EFF5F8;
}

input[name='q']::placeholder {
    color: #AAB7C4;
}

.text-navy {
    color: #04212E;
}

.link-colour {
    color: #04212E;
    font-weight: bold;
    text-decoration: underline;
}

.link-colour-banner {
    font-weight: bold;
    color: #343A40;
}


a.category-badge > span.badge {
    background-color: #04212E;
    color: #EFF5F8 !important;
    font-family: 'Open Sans', sans-serif;
}

a.category-badge > span.badge:hover {
    background-color: #F4A30E !important;
    color: #04212E !important;
}

.btt-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99999999999;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
    text-decoration: none;
}

.btn-custom {
    color: #04212E;
    background-color: #F4A30E;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

.carousel-item {
    max-height: 520px;
    overflow: hidden;
}

.carousel-container img {
    width: auto;
    height: auto;
}

footer, footer a {
    background-color: #04212E;
    color: #F4A30E !important;
}

.img-thumbnail {
    height: 300px;
    width: 300px;
}

.message-container {
    position: fixed;
    top: 100px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* FROM CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */

.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenienece classes with  colours copied from Bootstrap */

.arrow-primary {
    border-bottom-color: #007BFF;
}

.arrow-secondary {
    border-bottom-color: #6C757D;
}

.arrow-success {
    border-bottom-color: #28A745;
}

.arrow-danger {
    border-bottom-color: #DC3545;
}

.arrow-warning {
    border-bottom-color: #FFC107;
}

.arrow-info {
    border-bottom-color: #17A2B8;
}

.arrow-light {
    border-bottom-color: #F8F9FA;
}

.arrow-dark {
    border-bottom-color: #343A40;
}

.shopping-bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Mail Chimp Styling */
#mc_embed_signup {
    background-color: #04212E;
    color: #FFF;
    font: 14px 'Open Sans', sans-serif;
    width: 100%;
    border-radius: 20px;
    padding: 25px;
}

.text-gold {
    color: #F4A30E;
}

.baskerville {
    font-family: 'Libre Baskerville', serif !important;
    font-size: 25px !important;
}


/* ----------- Media Queries ----------- */

/* Add responsiveness - screens 991 pixels and less */
@media screen and (max-width: 991px) {
    .mobile-colour {
        color: #EFF5F8 !important;
    }

    .carousel-item {
        max-height: 350px;
        overflow: hidden;
    }

    p.nav-icon-text {
        font-size: 1rem !important;
    }

    .nav-link i.nav-icon {
        font-size: 1rem !important;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #banner p {
        font-size: .9rem;
    }
}


/* Add responsiveness - screens 767 pixels and less */
@media screen and (max-width: 767px) {
    .carousel-item {
        max-height: 280px;
        overflow: hidden;
    }
}


/* Add responsiveness - screens 550 pixels and less */
@media screen and (max-width: 550px) {
    .carousel-item {
        max-height: 200px;
    }

    a#mobile-search,
    a#user-options-mob,
    a#shopping-bag-mob {
        padding: 0.05rem !important;
    }
}


/* Add responsiveness - screens 350 pixels and less */
@media screen and (max-width: 350px) {
    .carousel-item {
        max-height: 160px;
    }
}
