{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_title %}
- Shopping Bag
{% endblock %}

{% block content %}
<div class="container mb-4">
    <div class="row">
        <div class="col">
            <h1 class="mt-5 mb-5 text-navy text-center">Shopping Bag</h1>
        </div>
    </div>
    {% if bag_items %}
    {% for item in bag_items %}
    <div class="row mb-3">
        <div class="col-sm-12 col-md-4 mb-2">
            {% include "shopping_bag/product-image.html" %}
        </div>
        <div class="col-12 col-md-2 mb-2 align-self-center">
            {% include "shopping_bag/product-info.html" %}
        </div>
        <div class="col-12 col-md-2 mb-2 align-self-center">
            <p class="my-0">Price: €{{ item.product.price }}</p>
        </div>
        <div class="col-sm-6 col-md-2 mb-2 align-self-center">
            {% include "shopping_bag/quantity-form.html" %}
        </div>
        <div class="col-sm-6 col-md-2 mb-4 align-self-center">
            <p class="my-0">Subtotal: €{{ item.product.price | calculate_subtotal:item.quantity }}</p>
        </div>
    </div>
    {% endfor %}
    <div class="row mb-5">
        <div class="col justify-content-end text-right open-sans-text">
            {% include "shopping_bag/shopping-bag-total.html" %}
            {% include "shopping_bag/checkout-buttons.html" %}
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col align-self-right">
            <p class="lead mb-5">Your shopping bag is empty.</p>
            <a href="{% url 'products' %}" class="btn btn-custom rounded-0 btn-lg">
                <span class="icon text-navy">
                    <i class="fas fa-circle-chevron-left"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span>
            </a>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script>
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/shopping_bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}
