{% extends "base.html" %}
{% load static %}

{% block extra_title %}
- Shopping Bag
{% endblock %}

{% block content %}
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr class="mt-3 mb-5 m-auto" width="80%">
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if bag_items %}
                <div class="table-responsive rounded">
                    {{ bag_items }}
                </div>
                {% else %}
                <p class="lead mb-5">Your shopping bag is empty.</p>
                <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                    <span class="icon text-navy">
                        <i class="fas fa-circle-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Keep Shopping</span>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
