{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container text-center text-navy">
    <div class="row">
        <div class="col">
            <h1 class="text-center mt-4">Welcome to The Wagging Tailor</h1>
            <p class="text-center">It seems you might be a little lost. Why not click on the button below to check out
                our amazing products!</p>
            <a href="{% url 'products' %}" class="btn btn-lg btn-custom mb-5"
                aria-label="This link brings you to the products page where you can view a wide range of products">Go To
                Our Store</a>
        </div>
    </div>
</div>

{% endblock %}
