{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'my_profile/css/my_profile.css' %}">
{% endblock %}

{% block extra_title %}
- My Profile
{% endblock %}

{% block content %}
<div class="overlay"></div>

<div class="container mb-4">
    <div class="row">
        <div class="col">
            <h1 class="mt-5 mb-5 text-navy text-center">My Profile</h1>
            <h1 class="mt-5 mb-5 text-navy text-center">{{ request.user }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6 text-center mb-5">
            <div class="row mb-5">
                <div class="col-12">
                    <h2 class="text-navy">My Pets</h2>
                </div>
            </div>
            {% if request.user %}
            {% for pet in pets %}
            <div class="row mb-1">
                <div class="col-12 col-md-6">
                    <h4 class="text-navy uppercase font-weight-bold">{{ pet.pet_name }}</h4>
                    <p class="small text-navy">Breed: <span class="text-muted">{{ pet.breed }}</span></p>
                    <p class="small text-navy">Gender: <span class="text-muted">{{ pet.gender|upper }}</span></p>
                    <p class="small text-navy">Pet Measurement A: <span class="text-muted">{{ pet.measurement_a }}cm</span></p>
                    <p class="small text-navy">Pet Measurement B: <span class="text-muted">{{ pet.measurement_b }}cm</span></p>
                    <p class="small text-navy">Pet Measurement C: <span class="text-muted">{{ pet.measurement_c }}cm</span></p>
                </div>
                <div class="col-12 col-md-6">
                    {% if pet.pet_image %}
                    <img src="{{ pet.pet_image.url }}" alt="{{ pet.pet_name }}" class="w-100 rounded-custom img_border">
                    {% else %}
                    <img src="{{ MEDIA_URL }}pet_profile_pic.png" alt="{{ pet.pet_name }}" class="w-100 rounded-custom img_border">
                    {% endif %}
                    <img src="" alt="" class="w-100">
                </div>
            </div>
            <div class="row">
                <div class="col mb-5">
                    {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                    <a class="update-link text-primary open-sans-text mx-4" href=""><small>Update</small></a>
                    <a class="remove-item text-danger open-sans-text mx-4" href=""><small>Remove</small></a>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
            
            {% endfor %}
            {% endif %}
            <div class="row">
                <div class="col">
                    <a href="{% url 'add_pet' %}" class="btn btn-custom rounded-0">
                        <span class="icon">
                            <i class="fas fa-paw"></i>
                        </span>
                        <span class="font-weight-bold">Add A Pet</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <h2 class="mb-3 text-navy text-center">Order History</h2>
            <div class="order-history table-responsive">
                <table class="table table-sm table-borderless">
                    <thead>
                        <tr>
                            <th>Order Number</th>
                            <th>Date</th>
                            <th>Items</th>
                            <th>Order Total</th>
                        </tr>
                    </thead>
                    <tbody class="open-sans-text">
                        {% for order in orders %}
                            <tr>
                                <td>
                                    <a href="{% url 'my_order_history' order.order_number %}"
                                    title="{{ order.order_number }}">
                                        {{ order.order_number|truncatechars:6 }}
                                    </a>
                                </td>
                                <td class="small">{{ order.date }}</td>
                                <td>
                                    <ul class="list-unstyled">
                                    {% for item in order.lineitems.all %}
                                        <li class="small">
                                            {% if item.product.sizes_available %}
                                                Size {{ item.product.size|upper }}
                                            {% endif %}{{ item.product.name }} x{{ item.quantity }}
                                        </li>
                                    {% endfor %}
                                    </ul>
                                </td>
                                <td>€{{ order.grand_total }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
